body {
	font-family: 'Dosis', sans-serif;
	overflow-x: hidden;
	margin: 0;
	background-image: url(images/yellow-background-small.png);
	background-repeat: repeat;
	background-size: 20px;
}

.wrapper {
	margin: 5px;
}

/*---------- top  ------------*/
.top {
	display: flex;
	justify-content: space-between;
}

.imm {
	font-size: 1.75em;
	text-shadow: 2px 2px rgb(117, 255, 99);
	margin-left: 15px;
	margin-top: 5px;
	font-weight: bolder;
}

/* social media, email etc. */
.links a {
	text-decoration: none;
}

.links img {
	width: 65px;
}

.links img:hover {
	animation: jiggle 0.3s infinite linear;
}

@keyframes jiggle {
	0% {
		transform: rotate(0deg) scale(1.15, 1.15);
	}

	50% {
		transform: rotate(2deg) scale(1.15, 1.15);
	}

	100% {
		transform: rotate(-2deg) scale(1.15, 1.15);
	}
}

footer {
	height: 80px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	overflow-x: hidden;
	position: relative;
	text-align: center;
}

span.footer--imm {
	background: url('images/footer2.png') center no-repeat;
	background-size: contain;
	text-align: center;
	text-shadow: 2px 2px 5px rgb(183, 0, 255);
	color: black;
	font-size: 30px;
	margin-left: 16px;
	letter-spacing: 20px;
}

.footer-scroll {
	/* Starting position */
	position: absolute;
	bottom: 45px;
	left: -1000px;
	/* Apply animation to this element */
	animation: scroll-right 10s linear infinite;
	white-space: nowrap;
	text-shadow: 2px 2px rgb(0, 4, 255);
	font-size: 30px;
	z-index: 1;
}

@keyframes scroll-right {
	0% {
		left: -1000px;
	}
	100% {
		left: 100vw;
	}
}

.footer-scroll small {
	font-size: 20px;
}

.blue {
	text-shadow: 1px 1px rgb(0, 255, 242);
}

.logo {
	width: calc(30vw + 20vh);
	min-width: 250px;
	max-width: 450px;
	display: block;
	margin: auto;
}

.logo:hover {
	cursor: default;
	transform: rotate(360deg);
	transition: all 0.3s ease-in-out 0s;
}

.IMM3 {
	padding: 30px 0;
	margin: -30px auto;
	font-size: 26px;
	text-align: left;
	text-shadow: 1px 1px rgb(255, 0, 0);
	max-width: 800px;
	width: 80%;

	background: radial-gradient(
		ellipse at center,
		rgba(54, 255, 50, 1) 0%,
		rgba(125, 185, 232, 0) 80%
	);
}

.IMM3 p {
	text-align: center;
}

@media screen and (min-width: 500px) {
	.IMM3 {
		font-size: 30px;
	}
}

.imm:hover {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.IMM2:hover {
	unicode-bidi: bidi-override;
	direction: rtl;
}

/* Standard syntax */
@keyframes logo {
	0% {
		top: 0px;
	}
	25% {
		top: 10px;
	}
	50% {
		top: 20px;
	}
	75% {
		top: 10px;
	}
	100% {
		top: 0px;
	}
}
